/* GENERAL CSS */

/* ROBOTO FONTS */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin-regular.eot');
    src: url('../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-regular.woff') format('woff'),
    url('../fonts/roboto-v29-latin-regular.ttf') format('truetype'),
    url('../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v29-latin-500.eot');
    src: url('../fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-500.woff') format('woff'),
    url('../fonts/roboto-v29-latin-500.ttf') format('truetype'),
    url('../fonts/roboto-v29-latin-500.svg#Roboto') format('svg');
}

/* HIND MADURAI FONTS */

@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hind-madurai-v10-latin-regular.eot');
    src: url('../fonts/hind-madurai-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-madurai-v10-latin-regular.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-regular.woff') format('woff'),
    url('../fonts/hind-madurai-v10-latin-regular.ttf') format('truetype'),
    url('../fonts/hind-madurai-v10-latin-regular.svg#HindMadurai') format('svg');
}

@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hind-madurai-v10-latin-500.eot');
    src: url('../fonts/hind-madurai-v10-latin-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-madurai-v10-latin-500.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-500.woff') format('woff'),
    url('../fonts/hind-madurai-v10-latin-500.ttf') format('truetype'),
    url('../fonts/hind-madurai-v10-latin-500.svg#HindMadurai') format('svg');
}

@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/hind-madurai-v10-latin-600.eot');
    src: url('../fonts/hind-madurai-v10-latin-600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-madurai-v10-latin-600.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-600.woff') format('woff'),
    url('../fonts/hind-madurai-v10-latin-600.ttf') format('truetype'),
    url('../fonts/hind-madurai-v10-latin-600.svg#HindMadurai') format('svg');
}

@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hind-madurai-v10-latin-700.eot');
    src: url('../fonts/hind-madurai-v10-latin-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-madurai-v10-latin-700.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-700.woff') format('woff'),
    url('../fonts/hind-madurai-v10-latin-700.ttf') format('truetype'),
    url('../fonts/hind-madurai-v10-latin-700.svg#HindMadurai') format('svg');
}

/* FREDOKA FONT */

@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fredoka-one-v12-latin-regular.eot');
    src: url('../fonts/fredoka-one-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fredoka-one-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/fredoka-one-v12-latin-regular.woff') format('woff'),
    url('../fonts/fredoka-one-v12-latin-regular.ttf') format('truetype'),
    url('../fonts/fredoka-one-v12-latin-regular.svg#FredokaOne') format('svg');
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    /* Bu rangni bodyga berganimni sababi ko'p qismi ushbu rangda bo'lgani uchun */
    background-color: #fcf1f4;
}

.container{
    width: 1165px;
    margin: 0 auto;
    padding: 0 20px;

}

img{
    display: inline-block;
}

.unver-style:hover{
    opacity: 0.8;
}

.unver-style:active{
    opacity: 0.4;
}

ul{
    padding: 0;
    margin: 0;
}

/* HEADER */

.header{
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sitenav-list{
    display: flex;
    list-style-type: none;
    padding-left: 100px;
}

.sitenav-item + .sitenav-item{
    margin-left: 40px;
}

.sitenav-link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
}

#home-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #D23166;
    opacity: 1;
}

#home-link:hover{
    opacity: 0.8;
}

#home-link:active{
    opacity: 0.4;
}

.unver-btn{
    display: flex;
    padding: 14px 50px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background: #D23166;
    border: 2px solid #D23166;
    border-radius: 5px;
    line-height: 22px;
    color: #FAFAFA;
}

/* HERO SECTION */

.hero-section{
    /* width: 1500px; */
    margin: 0 auto;
    background-image: url('../images/bg-image.png');
    background-size: 870px 700px;
    background-repeat: no-repeat;
    background-position: calc(50% + 400px);
}

.hero-container{
    padding-top: 37px;
    padding-bottom: 200px;
}

.hero-text-box{
    width: 665px;
    padding-top: 150px;
}

.hero-little-text{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.hero-heading{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
}

.hero-desc{
    padding: 0;
    width: 523px;
    margin: 35px 0 50px 0;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
}

.hero-heading-part{
    color: #D23166;
}

/* OUR SERVICES INFORMATION */

.services-section{
    padding: 100px 0;
    background-color: #FFFFFF;
}

.service-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.service-item + .service-item{
    margin-left: 39px;
}

.service-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 250px;
    padding: 33px 26px 27px 26px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}

.service-link:hover{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.09);
}

.service-link:active{
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}

.service-title{
    margin: 0;
    margin: 25px 0 9px 0;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.service-title-desc{
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

/* BEST ICE-CREAM CSS */

.best-section{
    margin: 0 auto;
    width: 1165px;
    background-image: url('../images/section2-image.png');
    background-size: 700px 710px;
    background-repeat: no-repeat;
    background-position: right top;
}

.best-container{
    padding: 141px 0 146px 0;
}

.best-text-box{
    width: 442px;
    padding: 100px 0 0 15px;
}

.best-heading{
    margin: 0;
    width: 349px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
}

.best-desc{
    margin: 0;
    margin: 16px 0 35px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
}

/* OUR PRODUCT SECTION */

.product-section{
    background-color: #FFFFFF;
}

.product-container{
    padding-top: 137px;
}

.product-heading{
    margin: 0;
    margin-bottom: 64px;
    text-align: center;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
}

.product-nav{
    display: flex;
    justify-content: center;
}

.product-nav-list{
    display: flex;
    list-style-type: none;
}

.product-nav-item + .product-nav-item{
    margin-left: 39px;
}

.product-nav-link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
    border-bottom: 4px solid transparent;
}

.product-nav-link:hover{
    border-bottom: 4px solid #CC406E;
}

.product-nav-link:active{
    color: #000000;
    border-bottom: 4px solid #CC406E;
}

/* PRODUCT LIST */

.product-list{
    margin-top: 50px;
    list-style-type: none;
}

.product-item{
    display: flex;
}

.product-item:nth-child(2){
    margin: 30px 0 35px 0;
    flex-direction: row-reverse;
}

.product-text-box{
    margin-left: 84px;
    padding-top: 60px;
    width: 454px;
}

.reverse-product-text{
    text-align: end;
    margin-right: 84px;
}

.product-box-title{
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.product-box-desc{
    margin: 0;
    margin: 11px 0 28px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

.product-price{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-reverse-price{
    justify-content: right;
}

.product-price-item{
    margin: 0;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.product-price-little{
    padding: 0;
    margin: 0 0 0 5px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
}

#product-btn{
    margin-left: auto;
}

/* FEEDBACK OF CLIENTS */

.feedback-container{
    display: flex;
    margin-top: 112px;
    justify-content: space-between;
}

.feedback-box{
    padding-top: 100px;
}

.client-info{
    display: flex;
    align-items: center;
}

.feeds-client-info{
    margin-left: 11px;
}

.feedback-name{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.feedback-location{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    opacity: 0.7;
}

.client-feed{
    margin-top: 50px;
    width: 322px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

.client-feed::before{
    content: "";
    display: inline-block;
    width: 11px;
    height: 10px;
    background-image: url(../images/left-q.png);
}

.client-feed::after{
    content: "";
    display: inline-block;
    width: 11px;
    height: 10px;
    background-image: url(../images/right-q.png);
}

/* FEEDS CLIENTS LIST */
.feed-clients-list{
    display: flex;
    align-items: center;
    margin-top: 39px;
}

.feed-clients-link:nth-child(3){
    margin: 0 27px;
}

.feed-clients-link:nth-child(1){
    margin-right: 25px;
}

.feed-clients-link:nth-child(5){
    margin-left: 25px;
}

/* SIMPLE WAY ORDER SECTION */

.order-section{
    position: relative;
}

.order-container{
    display: flex;
}

.order-img{
    position: relative;
    top: 100px;
}

.order-text-part{
    padding-top: 90px;
    padding-left: 134px;
}

.order-heading{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
}

.order-desc{
    padding: 0;
    margin: 20px 0 31px 0;
    width: 607px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #0F0101;
    opacity: 0.7;
}

.order-link-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.order-link-list{
    list-style-type: none;
}

.order-link-item{
    display: flex;
    align-items: center;
}

.order-link-item + .order-link-item{
    margin-top: 19px;
}

.link-img-box{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.order-link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

/* APP DOWNLOAD OF ORDER SECTION */

.order-app-box{
    display: flex;
    align-items: center;
    /* ustoz manashu divni ichidagilarni tori joylashtirish uchun rasmlar figmada tori joylashtirilishi kk edi*/
}

/* FORM SECTION */

.form-section{
    background-color: #FFFFFF;
}

.form-container{
    display: flex;
    padding-top: 150px;
    padding-bottom: 71px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-heading{
    width: 522px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

.inp-top{
    display: flex;
    margin-bottom: 37px;
}

.univer-inp{
    width: 305px;
    padding: 29px 156px 29px 25px;
    background: #FFFFFF;
    border: 1px solid #FFA3A3;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
}

.question-opt{
    margin-left: 30px;
}

.inp-bottom{
    display: flex;
}

#question{
    width: 500px;
}

.form-btn{
    padding: 20px 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #D64374;
    border-radius: 5px;
    border: 5px solid transparent;
}

/* FOOTER - HOME PAGE DOWN SECTION */

.footer{
    padding: 70px 0 100px 0;
    background-color: #0A0808;
}

.footer-container{
    display: flex;
}

/* FOOTER GENERAL */

.footer-general{
    width: 207px;
}

.footer-desc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.7;
}

.footer-general-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.footer-social-list{
    list-style-type: none;
    display: flex;
}

.footer-social-item:nth-child(even){
    margin: 0 10px;
}

/* FOOTER NAVIGATION OF SITE */

.footer-sitenav{
    padding-top: 45px;
    margin-left: 37px;
}

.footer-sitenav-item:nth-child(even){
    margin: 10px 0;
}

#footer-home-link{
    opacity: 1;
}

.footer-sitenav-link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.7;
}

/* FOOTER INFORMATION LIST */

.footer-information{
    padding-top: 50px;
    margin-left: 132px;
}

.footer-info-item:nth-child(even){
    margin: 10px 0;
}

.footer-info-link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.8;
}

/* FOOTER DONATE FORM */

.footer-form-container{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    padding-top: 40px;
}

.footer-form-text{
    margin-bottom: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


.footer-form-box{
    display: flex;
}

.footer-form-email{
    padding: 20px 50px 20px 32px;
    width: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    opacity: 0.5;
    border: 2px solid #D64374;
    box-sizing: border-box;
    border-radius: 5px;
    border: 5px solid transparent;
}

.footer-form-btn{
    padding: 16px 18px;
    width: 125px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #D23166;
    border-radius: 5px;
    border: 5px solid transparent;
}

.footer-donate{
    margin-top: 15px;
}

.footer-donate-list{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.footer-donate-item:nth-child(2){
    margin: 0 10px;
}